.card{
  border: 5px dashed ;
  border-color: blue;
width:400px ;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 600px;
margin-right: 10px;
font-weight: bold;
background-color: burlywood;

}
body {
  font-family: 'Roboto';font-size: 22px;
}
p{
  margin-left: 30px;
  margin-right: 30px;
}
.login1{
  width: 150px;
  height: 39px;
margin-left: 135px;
margin-bottom: 30px;
background-color: red;
color: white;
border: none;
border-radius: 20px;
font-weight: bold;
cursor: pointer;
}
.login1:hover{
  background-color: white;
  color:red;
  transition: 1.8s;

}
.login2{
background-color: blue;
color: white;
width: 150px;
  height: 39px;
margin-left: 135px;
margin-bottom: 30px;
border: none;
border-radius: 20px;
font-weight: bold;
cursor: pointer;
}
.login2:hover{
  background-color: white;
  color:blue ;
  transition: 1.8s;
}
.login3{
  background-color: green;
  color: white;
  width: 150px;
    height: 39px;
  margin-left: 135px;
  margin-bottom: 30px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer; 
}
.login3:hover{
  background-color: white;
  color: green;
  transition: 1.8s;

}
